.hero-section--starship::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 40%;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 0;
}

.hero-section--starship .hero-section__title {
  font-size: 50px;
}

.hero-section--starship .hero-section__description {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .hero-section--starship .hero-section__title {
    font-size: 45px;
    max-width: unset;
  }
}

@media (min-width: 1024px) {
  .hero-section--starship .hero-section__content {
    top: auto;
    bottom: 2%;
    left: -2%;
    max-width: 45%;
    padding-left: 5%;
    padding-right: 0;
  }

  .hero-section--starship .hero-section__title {
    font-size: 51px;
    line-height: 1.05;
  }
}