.header__toggles {
  display: none;
}
.header__toggles-btn--active {
  display: none;
}
.header__toggles-btn {
  display: none;
}

@media (min-width: 1180px) {
  .header__toggles {
    display: flex !important;
    align-items: center;
    background: #4b5059 !important;
    border-radius: 0.6rem;
    padding: 2.5px;
  }

  .header__toggles-btn--active {
    background: #70747d;
    border-radius: 0.3rem;
  }

  .header__toggles-btn {
    display: flex;
    border: none;
    color: #f4f4f4 !important;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.4rem;
    height: auto;
  }
}
