.sticky-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background: linear-gradient(to right, #6e7480 60%, #48494c 100%);
  backdrop-filter: blur(10px);
  animation: slideDown 0.3s ease;
  width: 61%;
  margin: 0 auto;
  border-radius: 0.6rem;
  margin-top: 1em;
  height: 4.3em;
}

.sticky-bar .btn--primary {
  width: auto;
  padding: 0.6rem 2rem;
  margin-right: -0.9em;
}
.sticky-bar .header__logo {
  padding-left: 1.3em;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 767px) {
  .sticky-bar {
    width: 92%;
    min-height: 3.5em;
    padding: 0.6rem 1rem;
    margin-top: 0.5em;
    height: 4.5em;
    background: #404040;
    margin-top: 1em;
  }

  .sticky-bar .btn--primary {
    padding: 0.7rem 2rem;
    margin-right: 0;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .sticky-bar .starlink-logo,
  .sticky-bar .header__logo {
    margin-left: -1em;
  }
}
