/* Mobile */
.starlink-section__image-green-roof {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 50%;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section__text--container-available-globally {
    left: 45%;
  }
}