.cart__summary {
  display: grid;
  gap: 1.2rem;
  margin-top: 2rem;

  border-top: 1px solid #ddd;
  padding-top: 2rem;
}

.cart__summary-total {
  margin: 0;
  font-size: 0.813rem;
}

.cart__summary-note {
  margin: 0;
  color: #555;
  font-size: 0.75rem;
}

.cart__checkout-button {
  background-color: #1c1c1c;
  color: #ffffff;
  height: 2.5rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .cart__summary {
    justify-items: end;
    text-align: right;
  }

  .cart__checkout-button {
    width: 6rem;
    height: 2.5rem;
  }
}
