.cart__table-header {
  display: none;
}

@media (min-width: 768px) {
  .cart__table-header {
    display: grid;
    grid-template-columns: 1fr 160px 160px;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 0.85rem;
  }

  .cart__table-header span:nth-child(3) {
    text-align: right;
  }

  .cart__table-header span:nth-child(2) {
    text-align: center;
  }
}
