
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
 
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  height: 60px;
  margin-top: 1.1em;
  
  width: 100%;
}


.header__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}




.header__toggles {
  display: none;
}
.header__toggles-btn--active {
  display: none;
}
.header__toggles-btn {
  display: none;
}

@media (min-width: 1024px) {
  .header__actions {
    gap: 2em;
  }
 
  .header__toggles {
    display: flex !important;
    background: #4b5059 !important;
    border-radius: 0.6rem;
    padding: 2.5px;
    padding-left: 1.5px;
    gap: 0;
    align-items: center;
  }
  .header__toggles-btn--active {
    display: flex;
    background: #70747d;
    border-radius: 0.3rem;
  }
  .header__toggles-btn {
    display: flex;
    border: none;
    color: #ffffff;
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.4rem;
  }
 

  .header__actions {
    margin-left: auto;
    margin-right: -2rem;
  }
  .header__logo {
    margin-left: -2rem;
  }
}
