.starlink-section--reliable .starlink-section__lable {
  color: #b7b7b8;
  line-height: 1.5em;
  max-width: 310px;
  font-weight: 700;
}

.starlink-section--reliable .starlink-section__content {
  display: flex;
  gap: 0.7em;
  margin-bottom: -1.3em;
}

.starlink-section--reliable .btn--primary {
  width: 100%;
  margin-top: -1.9em;
}

/* Tablet */
@media (min-width: 768px) {
  .starlink-section--reliable .starlink-section__lable {
    max-width: 600px;
  }
  .starlink-section--reliable .btn--primary {
    min-width: 150px;  
  }
  .starlink-section--reliable .starlink-section__content {
    align-items: flex-start;
    margin-left: 0;
  }
}
