.footer{
    font-family: "D-DIN", sans-serif;
}

.footer__container{
    display: flex;
    flex-direction: column;
    color: white;
    row-gap: 12px;
    align-items: center;
    font-size: 12px;
    text-transform:uppercase;
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.footer__X-link{
    order: 3;
}

.footer__X-svg {
  justify-self: center;
}

.footer__X-link-btn{
    height: 50px;
    width: 48px;
    background-color: rgba(248, 248, 250, 0.1);
    border-radius: 50px;
}

.footer__nav{
    display: flex;
    gap: 12px;
}

.footer__nav-item{
    cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .footer__container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
.footer__X-link{
    order: initial;
}
.footer__X-link-btn{
    height: 50px;
    width: 48px;
    background-color: rgba(240, 240, 250, 0.1);
    border-radius: 50px;
}

.footer_nav{
    display: flex;
    gap: 36px;
}

.footer_nav-item{
    cursor: pointer;
}
}