.cart__item {
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

.cart__item-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cart__item-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.cart__item-title {
  font-size: 0.75rem;
  font-weight: normal;
  color: #1c1c1c;
}

.cart__item-price {
  font-size: 0.75rem;
  color: #1c1c1ca6;
}

.cart__item-variant {
  font-size: 0.625rem;
  color: #1c1c1ca6;
}

.cart__item-variant {
  text-transform: uppercase;
}

.cart__item-actions .product-detail__quantity {
  width: 7.6rem;
  height: 2.3rem;
}

.cart__item-actions {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.cart__item-image {
  width: 4.5rem;
  height: 4.5rem;
}

.cart__remove-button {
  font-size: 0.6875rem;
  color: inherit;
  background: none;
  border: none;
  height: 1rem;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  padding: 0;
}

.cart__item-total {
  display: none;
}

@media (min-width: 768px) {
  .cart__item-content {
    display: grid;
    grid-template-columns: 1fr 160px 160px;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }

  .cart__item-info {
    grid-column: 1;
  }

  .cart__item-actions {
    grid-column: 2;
    justify-self: end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
  }

  .cart__item-total {
    grid-column: 3;
    display: block;
    justify-self: end;
    text-align: right;
  }
}
