.header__btn {
  width: 50px !important;
  height: 40px;
  margin-right: 0.3em;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(250, 250, 250, 0.562);
  background: #414550;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .header__btn[aria-label="Call"] {
    display: none;
  }
  .header__btn[aria-label="Menu"] {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__btn[aria-label="Menu"] {
    width: 35px !important;
    
   
  }
}