.moon-carousel {
    position: relative;
    height: 100vh;
    min-height: 42rem;
    overflow: hidden;
    background-color: black;
    color: white;
}

.moon-carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moon-carousel__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.15));
}

.moon-carousel__content {
    position: absolute;
    z-index: 2;
    max-width: 30rem;
}

.moon-carousel__content--top-left {
    top: 18%;
    left: 24%;
}

.moon-carousel__content--top-center {
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
}

.moon-carousel__content--center-left {
    top: 50%;
    left: 24%;
    transform: translateY(-50%);
}

.moon-carousel__content--bottom-left {
    bottom: 16%;
    left: 24%;
}

.moon-carousel__title {
    margin: 0 0 1.25rem;
    line-height: 0.95;
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(2rem, 4vw, 4rem);

}

.moon-carousel__description {
    margin: 0;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 1.7;
}

.moon-carousel__button {
    position: absolute;
    z-index: 3;
    top: 95%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

.moon-carousel__button--previous {
left: 2rem;
}

.moon-carousel__button--next {
    right: 2rem;
}

.moon-carousel__dots {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    transform: translateX(-50%);
}

.moon-carousel__dot {
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 50%;
    border: none;
    background-color: #777;
    cursor: pointer;
}

.moon-carousel__dot--active {
    background-color: white;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .moon-carousel {
        height: 100svh;
        min-height: 38rem;
    }
}