
.starlink-section__image-car {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 85% center;
}

/* Desktop */

@media (min-width: 1024x) {
  .starlink-section__image-car {
    object-fit: cover;
    object-position: center center;
  }
}