/*  
   HOME PAGE - BASE (MOBILE FIRST)  
*/

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-section__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section__text {
  position: absolute;
  bottom: 20%;
  left: 3%;
  color: white;
  z-index: 1;
}
.hero-section__date {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}
.hero-section__title {
  font-family: "D-DIN-Bold", sans-serif;
  color: #f0f0fa;
  font-size: 3.2rem;
  text-transform: uppercase;

  max-width: 800px;
}
.hero-section--starship::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, black);
  z-index: 0;
}

.hero-section--starship {
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-section--starship .hero-section__title {
    font-size: 3rem;
    margin-left: -10px;
  }
  .hero-section--starship .hero-section__date {
    margin-left: -10px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .hero-section--starship .hero-section__text {
    margin-left: 30px;
  }
  .hero-section--starship .hero-section__title {
    max-width: 500px;
    margin-top: -10px;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .hero-section--starship {
  }
}

/* 
   SECTION 02 - MAKING LIFE MULTIPLANETARY
   Owner: Felice
   Branch: feature/home-making-life
*/
.hero-section--multiplanetary .hero-section__text {
  position: absolute;
  bottom: 45%;
  left: 13%;
  color: white;
  z-index: 1;
}
.hero-section--multiplanetary .hero-section__title {
  font-family: "D-DIN-Bold", sans-serif;
  color: #f0f0fa;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1.1;
  max-width: 800px;
}
.hero-section--multiplanetary .hero-section__description {
  color: #f0f0fa;
  font-size: 1rem;
  max-width: 600px;
  margin-top: 16px;
}

@media (max-width: 767px) {
  .hero-section--multiplanetary {
  }
  .hero-section--multiplanetary .hero-section__text {
    position: absolute;
    bottom: 0%;

    left: 4%;
    color: white;
    z-index: 1;
  }
  .hero-section--multiplanetary .hero-section__title {
    font-size: 2.3rem;
  }
  .hero-section--multiplanetary .hero-section__description {
  }
}
@media (max-width: 376px) {
  .hero-section--multiplanetary {
    height: 65vh;
    overflow: visible;
  }
  .hero-section--multiplanetary .hero-section__text {
    top: 85%;
  }
  .hero-section--multiplanetary .hero-section__title {
    font-size: 1.8rem;
  }
}
@media (min-width: 376.1px) and (max-width: 767px) {
  .hero-section--multiplanetary {
    height: 65vh;
    overflow: visible;
  }
  .hero-section--multiplanetary .hero-section__text {
    top: 100%;
  }
  .hero-section--multiplanetary .hero-section__title {
    font-size: 2.3rem;
  }
  .hero-section--multiplanetary .hero-section__description {
    font-size: 1rem;
    max-width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-section--multiplanetary .hero-section__title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .hero-section--multiplanetary .hero-section__text {
    margin-left: -45px;
  }
  .hero-section--multiplanetary .hero-section__description {
    font-size: 1.2;
    max-width: 480px;
  }
}

@media (min-width: 1440px) {
  .hero-section--multiplanetary {
  }
}

/* 
   SECTION 03 - REVOLUTIONIZING SPACE TECHNOLOGY
   Owner: Federico
   Branch: feature/home-space
*/

.hero-section--technology {
  /* MOBILE FIRST */
}

@media (min-width: 768px) {
  .hero-section--technology {
  }
}

@media (min-width: 1024px) {
  .hero-section--technology {
  }
}

@media (min-width: 1440px) {
  .hero-section--technology {
  }
}

/* 
   SECTION 04 - WORLD'S LEADING LAUNCH SERVICE PROVIDER
   Owner: Federico
   Branch: feature/home-launch
*/

.hero-section--launch-provider {
  /* MOBILE FIRST */
}

@media (min-width: 768px) {
  .hero-section--launch-provider {
  }
}

@media (min-width: 1024px) {
  .hero-section--launch-provider {
  }
}

@media (min-width: 1440px) {
  .hero-section--launch-provider {
  }
}

/* 
   SECTION 05 - ADVANCING HUMAN SPACEFLIGHT
   Owner: Fidel
   Branch: feature/home-advancing
*/

.hero-section--spaceflight {
  /* MOBILE FIRST */
}

@media (min-width: 768px) {
  .hero-section--spaceflight {
  }
}

@media (min-width: 1024px) {
  .hero-section--spaceflight {
  }
}

@media (min-width: 1440px) {
  .hero-section--spaceflight {
  }
}

/* 
   SECTION 06 - STARLINK
   Owner: Rosario
   Branch: feature/home-starlink-section
*/

.hero-section--starlink {
  /* MOBILE FIRST */
}

@media (min-width: 768px) {
  .hero-section--starlink {
  }
}

@media (min-width: 1024px) {
  .hero-section--starlink {
  }
}

@media (min-width: 1440px) {
  .hero-section--starlink {
  }
}
