/* SECTION 1 */
/* The Moon */
.moon {
  background-color: black;
}

.hero-section {
  width: auto;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: "D-DIN", sans-serif;
}

.hero-section-moon::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-section-moon {
  background-color: black;
}

.hero-section-moon .hero-section-moon__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.hero-section-moon .hero-section-moon__content {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  right: 10%;
  width: 90%;

  text-align: center;

  padding: 0;
  z-index: 2;

  color: white;
}

.hero-section-moon__title {
  font-size: 50px;
  margin-bottom: 20px;
  animation-name: reveal-title;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

@keyframes reveal-title {
  from {
    opacity: 0;
    transform: translateY(220%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.hero-section-moon__description {
  font-size: 1rem;
  animation-name: reveal-description;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-duration: 0.75s;
}
@keyframes reveal-description {
  from {
    opacity: 0;
    transform: translateY(80%);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 1024px) {
  .hero-section-moon__title {
    font-size: 100px;
  }
}
