/* 
   SHOP LAYOUT (GLOBAL PAGE STRUCTURE) { }
*/

.shop-header {
  background-color: black;
}

.hidden {
  display: none;
}

.shop-header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding-inline: 2rem;
  height: 80px;
}

.shop-header__logo {
  grid-column: 2;
  justify-self: center;
}

.shop-header__logo img {
  width: 40px;
  height: 35px;
}

.shop-header__menu {
  grid-column: 3;
  justify-self: end;
}

.menu__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu__item-search {
  display: none;
}

.menu__item-cart {
  display: none;
}

.menu__item svg {
  display: block;
  color: white;
  width: 30px;
  height: 30px;
}

.menu__item-login {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .menu__item.account {
    display: flex;
  }

  .menu__item.account a {
    display: flex;
    align-items: center;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Large Desktop */
@media (min-width: 1440px) {
  .shop {
  }
}

/* 
   HEADER  
   Owner:  
   Branch: feature/shop-header
*/

.shop-header {
  /* MOBILE FIRST */
}

@media (min-width: 768px) {
  .shop-header {
  }
}

@media (min-width: 1024px) {
  .shop-header {
  }
}

@media (min-width: 1440px) {
  .shop-header {
  }
}

/* 
   COLLECTIONS SECTION
   Owner: Ashawani Singh
   Branch: feature/card-collections
*/

.collections {
  /* MOBILE FIRST */
}

/* Tablet */
@media (min-width: 768px) {
  .collections {
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .collections {
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .collections {
  }
}

/* 
   PRODUCT CARDS (FUTURE EXTENSION)
   Owner: Ashawani Singh
   Branch: feature/card-collections
*/

.card-products {
  /* MOBILE FIRST */
}

/* Tablet */
@media (min-width: 768px) {
  .card-products {
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card-products {
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .card-products {
  }
}

/* 
   FOOTER
   Owner: 
   Branch: feature/shop-footer
*/

.shop-footer {
  /* MOBILE FIRST */
}

/* Tablet */
@media (min-width: 768px) {
  .shop-footer {
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .shop-footer {
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  .shop-footer {
  }
}
