/* ============================================================
   STARLINK PAGE — starlink.css
   Owner: Felice (Section 01, 02, 03) / Rosario (Section 04–07)
============================================================ */


/* ============================================================
   SECTION 01 — Best Value in Space Internet
   Owner: Felice
   Branch: integration/starlink-page
============================================================ */

/* Mobile */
.starlink-section--best-value {

}

/* Tablet */
@media (min-width: 768px) {
  .starlink-section--best-value {

  }
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section--best-value {

  }
}


/* ============================================================
   SECTION 02 — High Speed, Low Latency
   Owner: Felice
   Branch: integration/starlink-page
============================================================ */

/* Mobile */
.starlink-section--high-speed {

}

/* Tablet */
@media (min-width: 768px) {
  .starlink-section--high-speed {

  }
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section--high-speed {

  }
}


/* ============================================================
   SECTION 03 — Reliable & Resilient
   Owner: Felice
   Branch: integration/starlink-page
============================================================ */

/* Mobile */
.starlink-section--reliable {

}

/* Tablet */
@media (min-width: 768px) {
  .starlink-section--reliable {

  }
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section--reliable {

  }
}


/* ============================================================
   GLOBAL AND COMMON CLASSES
   Owner: Rosario
============================================================ */

/* Mobile */
.starlink-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  font-family: "D-DIN", sans-serif;
}
.starlink-section__gradient{
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.548) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}



.starlink-section__text--container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.starlink-section__inner--container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-white);
}

.starlink-section__inner--title{
  font-size: 2rem;
  font-style: normal;
  line-height: 105%;
  font-weight: 600;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}
.starlink-section__inner--text{
  color: rgba(250, 250, 250, 0.7);
  line-height: 150%;
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 500ms ease-out 300ms, transform 500ms ease-out 300ms;
}

.starlink-section__link--container{
  margin-top: 8px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.starlink-section__link--button{
  padding: 6px;
  cursor: pointer;
  font-weight: 700;
}

/* Tablet */
@media (min-width: 768px) {
  .starlink-section__text--container{
    width: 80%;
    padding: 32px;
    z-index: 1;
    gap: 10px;
    margin-bottom: 20px;
  }
  .starlink-section__link--container{
    width: 28%;
  }
  .starlink-section__inner--text{
    font-size: 1.2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section{
    height: 800px;
  }

  .starlink-section__gradient{
    background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.527) 0%,
    rgba(0, 0, 0, 0.349) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 100%;
  }

  .starlink-section__text--container {
    height: 100%;
    width: 34%;
    padding: 32px;
    align-items: flex-start;
    justify-content: center;
    left: 18%;
  }

  .starlink-section__inner--title{
    font-size: 4rem;
    font-weight: 700;
    line-height: 105%;
  }
}

/* ============================================================
   SECTION 04
   Owner: Rosario
============================================================ */

.starlink-section__image-car {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 85% center;
}

/* Desktop */

@media (min-width: 1024x){
  .starlink-section__image-car{
    object-fit: cover;
    object-position: center center;
  }
}

/* ============================================================
   SECTION 05
   Owner: Rosario
============================================================ */

/* Mobile */
.starlink-section--high-speed{
  position: relative;
  background-color: black;
  font-family: "D-DIN", sans-serif;
  height: 728px;
}

.starlink-section--high-speed--background {
  position: absolute;
  background-image: url(/assets/pages/starlink/backgrounds/illustration_10.webp);
  background-position: center center;
  background-size: cover;
  inset: 0;
  max-width: 1200px;
 height: 100%;
  opacity: 0.10;
  pointer-events: none;
}

.starlink-section--high-speed__title{
  color: white;
  text-align: center;
  padding: 32px 0px;
  font-size: 2.3rem;
  margin: 0px 32px;
}

.starlink-section--high-speed__carousel--scroll {
  overflow-x: scroll !important;
  overflow-y: hidden;
  padding: 0 0px 24px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}


.starlink-section--high-speed__carousel {
  display: flex;
  gap: 16px;
}

.starlink-section--high-speed__card{
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 436px;
  justify-content: center;
  align-items: center;
}

.starlink-section--high-speed__card--image{
  height: 300px;
  width: 300px;
  border-radius: 7%;
  overflow: hidden;
}

.starlink-section--high-speed__card--container--text{
  line-height: 150%;
}

.starlink-section--high-speed__card--text{
  color: rgba(250, 250, 250, 0.7);
  opacity: 87%;
}

.starlink-section--high-speed__container--chevron{
  background-color: transparent;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.starlink-section--high-speed__btn--chevron{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 8px;
}

.starlink-section--high-speed__--chevron{
  color: rgba(250, 250, 250, 0.56);
}
/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section--high-speed{
    height: 100%;
  }
  .starlink-section--high-speed__carousel--scroll{
    max-width: 100%;
    margin: 0px;
    padding: 0px 48px;
    overflow-y: hidden;
  }

  .starlink-section--high-speed--background{
    left: 20%;
    opacity: 6%;
  }

  .starlink-section--high-speed__title{
    font-size: 4rem;
  }
  .starlink-section--high-speed__card{
    height: 570px;
    width: 580px;
  }
  .starlink-section--high-speed__card--image{
    width: 550px;
    height: 450px;
    object-fit: cover;
  }
  .starlink-section--high-speed__card--container--text{
    width: 550px;
    align-self: center;
  }
  .starlink-section--high-speed__card--text{
    opacity: 1;
    color: white;
    line-height: 150%;
    font-size: 1rem;
  }
  .starlink-section--high-speed__container--chevron{
    padding: 64px 0px;
  }
}


/* ============================================================
   SECTION 06 
   Owner: Rosario
============================================================ */

/* Mobile */
.starlink-section__image-green-roof {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% 50%;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section__text--container-available-globally{
    left: 45%;
  }
}


/* ============================================================
   SECTION 07
   Owner: Rosario
============================================================ */

/* Mobile */
.starlink-section__image-sun-roof {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.starlink-section__image-yard {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
  .starlink-section__image-sun-roof {
    display: none !important;
  }
  .starlink-section__image-yard{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    object-fit: cover;
    user-select: none;
  }
}
