.shop-footer {
  background-color: #000;
  color: #ffffffa6;
  border-top: 1px solid #222;
  font-family: Arial, Helvetica, sans-serif;
}

.shop-footer__container {
  min-height: auto;
  display: grid;
  justify-content: start;
  place-content: initial;
  gap: 3rem;
  padding: 2rem 1.5rem;
}

.shop-footer__menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.shop-footer__menu-item a {
  color: inherit;
  text-decoration: none;
  font-size: 0.688rem;
}

.shop-footer__menu-item a:hover {
  color: #fff;
}

.shop-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.shop-footer__copyright {
  margin: 0;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

/* Reuse LanguageSelector inside footer */
.shop-footer .language-selector {
  position: relative;
}

.shop-footer .menu__item-lang {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.shop-footer .currency-money {
  display: inline;
  font-size: 0.688rem;
}

.shop-footer .currency-flag {
  width: 1.5rem;
  height: 1.2rem;
  object-fit: cover;
}

.shop-footer .currency-country {
  bottom: calc(100% + 1rem);
  top: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .shop-footer__container {
    min-height: 13.25rem;
    place-content: center;
    gap: 3.5rem;
    padding: 0 2.5rem;
  }

  .shop-footer__menu-list {
    justify-content: center;
    gap: 1rem;
    padding: 1.4rem 0 0 0;
  }

  .shop-footer__menu-item a {
    font-size: 1rem;
  }

  .shop-footer__info {
    gap: 2rem;
  }

  .shop-footer__copyright {
    font-size: 0.688rem;
  }
}

@media (min-width: 1024px) {
  .shop-footer__container {
    height: 1rem;
    display: grid;
    justify-content: start;
    place-content: initial;
    gap: 4rem;
    padding: 3.8rem 1.5rem;
  }

  .shop-footer__menu-list {
    gap: 1.4rem;
  }

  .shop-footer__menu-item a {
    font-size: 0.938rem;
  }

  .shop-footer__info {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .shop-footer__copyright {
    padding: 0;
  }
}
