.starlink-header__nav {
  display: none;
}
.starlink-header__call {
  display: none;
}

@media (min-width: 1024px) {
  .starlink-header__call {
    display: flex;
    color: #bbbec3;
    font-size: 0.9em;
    white-space: nowrap;
  }
  .starlink-header__call span {
    margin-left: 0.2em;
    font-size: 0.9em;
    text-decoration: underline;
    font-weight: 700;
    color: #bbbec3;
  }
  .starlink-header__nav {
    display: flex;
    gap: 1.5rem;
  }
  .starlink-header__nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
  }
}